.twitter {
    color: #1DA1F2;
  }

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}

@keyframes new {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(1.15) rotate(10deg);
  }
}

.heart {
  animation: heart 1000ms infinite;
}

.mdx-pulse {
  animation: new 2000ms infinite;
}

.warning {
  color: #eef21d;
}

.question {
  color: #49b3f0;
}